.tag {
	font-family: "Bookman Old Style", serif;
	font-size: 100px;
	margin-left: 250px;
	margin-right: 700px;
	padding: 10px;
	letter-spacing: 0.2em;
}


.search-box {
	margin-left: 250px;
	margin-right:330px;
	position: relative;
	border:none;
}

.search-area {
	width: 90%;
	height: 40px;
	border-top-left-radius:15px !important;
	border-bottom-left-radius: 15px !important;
	background: transparent;
	outline: 0;
	}

.button {
	float: left;
	width:10%;
	height: 45px;
	border:none;
	border-top-right-radius:15px;
	border-bottom-right-radius: 15px;
	position: absolute;
	outline: 0;
	cursor:pointer;
}

.button:hover {
	background-color: lightblue;
}