<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="An E-Commerce App for Books">
		<title>ReApp</title>
		<link href="../static/homepage.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<h2 class="tag">ReApp</h2>
		<div class="search-box">
			<form action="search" method="post">
				<input type="text" class="search-area" name="search-text" placeholder="search your favourite books here...">
				<button type="search" class="button"><i class="fa fa-search"></i></button>
			</form>
		</div>
	</body>
</html>